@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filename[data-title]::before {
    content: attr(data-title);
  }
}

@layer utilities {
  .current-active-section p {
    @apply font-medium text-neutral-800;
  }

  .current-active-section p::before {
    @apply absolute -left-1 text-rose-500;
    content: attr(data-before);
  }
}

@layer components {
  .pagescroll-progress-wrapper {
    @apply absolute -left-4 h-full w-[2px];
    transition: opacity 0.75s ease-in-out;
  }

  .pagescroll-progress-track {
    @apply h-0 w-full;
    /* animation: PageScroll_progressBar__2gj4x 1.5s ease-in-out;
    animation-fill-mode: none;
    animation-fill-mode: both; */
  }
}

/* linear-gradient(hsla(30,22%,96%,.75),hsla(30,22%,96%,.75)), */
@layer utilities {
  .bg-growing-underline {
    background-size: 100% 0.2em;
    background-position: 0 88%;
    @apply bg-no-repeat transition-all duration-200;
  }
  .bg-growing-underline:hover {
    background-size: 100% 100%;
  }
  .bg-growing-underline:focus {
    background-size: 100% 100%;
  }
}

@layer utilities {
  .hover-underline-animation {
    @apply relative bg-no-repeat transition-all duration-200 ease-in-out;
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(theme(backgroundColor.accent), theme(backgroundColor.accent));
    background-size: 0 2px;
    background-position: 0 100%;
    /* transition: background-size .5s ease-in-out; */
  }

  .hover-underline-animation::after {
    @apply absolute bottom-0 left-0 h-0.5 w-full origin-bottom-right scale-x-0 content-[""];
    background-color: theme('colors.secondary.900');
    transition: transform 0.15s ease-out;
  }

  .hover-underline-animation:hover::after {
    @apply origin-bottom-left scale-100;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* css-waving-hand-emoji */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@layer utilities {
  .prose :hover > .link-anchor {
    @apply visible no-underline;
  }

  .prose .link-anchor:hover {
    @apply visible;
  }
  .prose .link-anchor {
    @apply invisible absolute -ml-6 w-4/5 max-w-screen-md cursor-pointer pr-2 no-underline;
  }

  .prose .link-anchor::after {
    @apply text-neutral-700 content-["#"];
  }
}

@layer utilities {
  .copy-button-copied {
    opacity: 1 !important;
  }

  .copy-button-copied .copy-button-icon {
    opacity: 0;
    transform: scale(0.33);
  }

  .copy-button-copied .copy-button-success-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
    transition-delay: 75ms;
  }

  .copy-button-icon {
    @apply absolute inset-0;
    opacity: inherit;
    transition: 0.15s;
  }

  .copy-button-success-icon {
    @apply absolute fill-current text-teal-400;
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.33);
  }
}

@layer base {
  .prose pre {
    @apply mt-0 mb-0 rounded bg-zinc-50 text-neutral-800;
  }

  .prose pre code {
    @apply rounded-none border-0 bg-transparent p-0 font-normal text-neutral-800;
    @apply text-inherit;
  }

  .prose code {
    @apply rounded border border-neutral-300 bg-neutral-200 py-0.5 px-1 text-neutral-800;
  }

  .prose a[target='_blank']:not(.icon-link)::after {
    content: '';
    @apply inline-block h-3 w-3 bg-contain;
    margin: 0 0.05em 0 0.1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%233B82F6' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
  }

  .anchor-highlight a {
    @apply text-primary-500  no-underline hover:text-primary-600;
  }
}

@layer utilities {
  .border-snippet-card-animation {
    position: relative;
    transition: all 0.5s;
  }
  .border-snippet-card-animation:hover {
    filter: contrast(1.1);
  }

  .border-snippet-card-animation:active {
    filter: contrast(0.9);
  }

  .border-snippet-card-animation::before,
  .border-snippet-card-animation::after {
    @apply absolute -inset-px rounded-lg border border-black;
    content: '';
    transition: all 0.5s;
    animation: clippath 3s infinite linear;
  }

  .border-snippet-card-animation::after {
    animation: clippath 3s infinite -1.5s linear;
  }

  @keyframes clippath {
    0%,
    100% {
      clip-path: inset(0 0 98% 0);
    }

    25% {
      clip-path: inset(0 98% 0 0);
    }
    50% {
      clip-path: inset(98% 0 0 0);
    }
    75% {
      clip-path: inset(0 0 0 98%);
    }
  }
}
